.t862mev__body_popupshowed {
    -webkit-overflow-scrolling: touch!important
}

.t862mev__wrapper {
    padding-bottom: 45px
}

.t862mev .t-input-block textarea.t-input_pvis {
    padding-top: 26px
}

.t862mev__quiz {
    width: 100%;
    border: 0 solid transparent;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t862mev__quiz-wrapper {
    height: 100%
}

.t862mev__quiz-form-wrapper {
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 75px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t862mev__quiz-description-wrapper {
    position: relative;
    background-color: #ececec;
    overflow: hidden
}

.t862mev__quiz-description {
    padding-top: 35px;
    padding-bottom: 40px;
    padding-left: 45px;
    padding-right: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t862mev__quiz-description::after,.t862mev__quiz-description::before {
    content: '';
    display: table
}

.t862mev__quiz-description::after {
    clear: both
}

.t862mev__quiz-description-title {
    float: left;
    width: 90%
}

.t862mev__quiz-description-text {
    display: inline-block;
    vertical-align: top;
    width: 90%
}

.t862mev__quiz-description-counter {
    float: right;
    font-weight: 500
}

.t862mev__quiz-description svg {
    display: inline-block;
    vertical-align: top;
    padding-right: 3px;
    width: 20px;
    height: 20px
}

.t862mev__quiz-description .st61 {
    fill: none;
    stroke: #1f5bff;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10
}

.t862mev__result-title {
    display: none;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 45px;
    padding-right: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t862mev__progressbar {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 5px;
    background-color: #cbcbcb;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

.t862mev__progress {
    height: 100%;
    width: 0;
    background-color: #1f5bff;
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease
}

.t862mev .t-input-group:first-child {
    display: block
}

.t862mev .t-input-group {
    display: none
}

.t862mev .t862mev__t-input-group_active {
    display: block
}

.t862mev .t862mev__capture-form {
    display: none;
    position: relative;
    padding-bottom: 0
}

.t862mev .t862mev__capture-form .t-input-group {
    display: block;
    margin-bottom: 25px;
    box-sizing: border-box
}

.t862mev .t862mev__quiz_nofixedheight .t-input-group {
    padding-bottom: 60px
}

.t862mev .t862mev__quiz_nofixedheight .t862mev__capture-form .t-input-group {
    padding-bottom: 0
}

.t862mev .t862mev__quiz_nofixedheight .t862mev__capture-form {
    padding-bottom: 20px
}

.t862mev .t862mev__quiz_nofixedheight .t862mev__quiz-form-wrapper {
    padding-bottom: 65px
}

.t862mev__btn-wrapper {
    position: absolute;
    bottom: 45px;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.t862mev__btn-wrapper::before,.t862mev__btn-wrapper::after {
    content: '';
    display: table
}

.t862mev__btn-wrapper::after {
    clear: both
}

.t862mev__btn-wrapper .t-btn {
    position: relative
}

.t862mev__btn-wrapper .t-btn:focus,.t862mev__btn-wrapper .t-btn:active {
    outline: none
}

.t862mev__btn-wrapper .t862mev__btn_prev {
    float: left;
    background-color: #cbcbcb!important
}

.t862mev__btn-wrapper .t862mev__btn_next,.t862mev__btn-wrapper .t862mev__btn_result {
    float: right
}

.t862mev__btn-wrapper .t862mev__btn_prev td,.t862mev__btn-wrapper .t862mev__btn_next td,.t862mev__btn-wrapper .t862mev__btn_result td {
    position: relative
}

.t862mev__btn-wrapper .t862mev__btn_prev.t-btn_sm {
    padding-left: 45px
}

.t862mev__btn-wrapper .t862mev__btn_next.t-btn_sm {
    padding-right: 45px
}

.t862mev__btn-wrapper .t862mev__btn_prev td::before {
    content: "\00a0→";
    position: absolute;
    left: -23px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.3;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.t862mev__btn-wrapper .t862mev__btn_next td::after {
    content: "\00a0→";
    position: absolute;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1
}

.t862mev__btn_result {
    display: none
}

.t862mev .t-form__submit {
    position: absolute;
    right: 45px;
    bottom: 45px;
    z-index: 1;
    display: none;
    vertical-align: middle;
    text-align: left
}

.t862mev .t862mev__btn-wrapper .t-btn,.t862mev .t-form__submit .t-submit {
    border-radius: 0
}

.t862mev .t862mev__btn-wrapper .t-btn[disabled],.t862mev .t-form__submit .t-submit[disabled] {
    opacity: .6
}
.t862mev a.write_to_whatsapp{
    font-family: 'FuturaPT',Arial,sans-serif;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    color: #fff !important;
    font-weight: bold;
    background-color: rgb(39, 208, 97);
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-decoration: none;
}
.t862mev .t-submit {
    height: 45px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px
}

.t862mev .t-form__inputsbox {
    -webkit-transition: max-height 0.3s cubic-bezier(.19,1,.22,1);
    -o-transition: max-height 0.3s cubic-bezier(.19,1,.22,1);
    transition: max-height 0.3s cubic-bezier(.19,1,.22,1);
    max-height: 10000px
}

.t862mev__inputsbox_hidden.t-form__inputsbox {
    overflow: hidden;
    max-height: 0;
    opacity: 0
}

.t862mev .t-input {
    background-color: transparent;
    -webkit-appearance: none
}

.t862mev .t-input-block textarea.t-input_pvis {
    padding-top: 26px
}

.t862mev .t-input-block textarea {
    padding-top: 17px;
    background-color: transparent
}

.t862mev .t-input-title {
    padding-bottom: 5px;
    font-size: 26px;
    line-height: 1.5;
    font-weight: 400
}

.t862mev .t-input-subtitle {
    padding-bottom: 15px
}

.t862mev .t-input-group_rd .t-input-subtitle {
    padding-bottom: 5px
}

.t862mev .t-inputtime,.t862mev .t-datepicker__wrapper {
    max-width: 245px
}

.t862mev .t-form_bbonly .t-input-title {
    margin-bottom: 0
}

.t862mev .t-form_bbonly .t-input-subtitle {
    padding-bottom: 0;
    padding-top: 5px
}

.t862mev .t-form_bbonly .t-input-block {
    margin-bottom: 30px
}

.t862mev .t-radio__control,.t862mev .t-checkbox__control,.t862mev .t-img-select__text {
    font-size: 15px
}

.t862mev .t-img-select__text {
    margin-top: 10px
}

.t862mev .t-radio__control,.t862mev .t-checkboxes__wrapper .t-checkbox__control {
    margin-top: 15px;
    margin-bottom: 15px
}

@media screen and (max-width: 1200px) {
    .t862mev .t-input-title {
        font-size:24px
    }
}

@media screen and (max-width: 640px) {
    .t862mev .t-input-group {
        margin-bottom:20px
    }

    .t862mev .t862mev__capture-form {
        padding-bottom: 0
    }

    .t862mev .t862mev__quiz_nofixedheight .t862mev__capture-form {
        padding-bottom: 0
    }

    .t862mev .t862mev__capture-form .t-input-group {
        margin-bottom: 20px
    }

    .t862mev .t862mev__quiz_nofixedheight .t-input-group {
        padding-bottom: 0
    }

    .t862mev .t-input {
        height: 50px;
        padding: 0 14px;
        font-size: 16px
    }

    .t862mev .t-input__vis-ph {
        top: 17px
    }

    .t862mev .t-input_pvis {
        padding: 22px 20px 10px 20px
    }

    .t862mev .t-input-block textarea.t-input_pvis {
        padding-top: 22px
    }

    .t862mev__wrapper {
        padding-bottom: 20px
    }

    .t862mev__col.t-col {
        padding-left: 0;
        padding-right: 0
    }

    .t862mev__quiz-description,.t862mev__result-title {
        padding: 20px;
        padding-bottom: 25px
    }

    .t862mev__quiz-description svg {
        display: none
    }

    .t862mev__quiz-form-wrapper {
        padding-top: 20px;
        padding-bottom: 95px;
        padding-left: 20px;
        padding-right: 20px
    }

    .t862mev .t-form__submit {
        right: 20px
    }

    .t862mev .t-input-block textarea {
        padding-top: 12px
    }

    .t862mev .t-input-title {
        font-size: 22px
    }

    .t862mev .t-submit {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px
    }

    .t862mev .t-radio__control,.t862mev .t-checkbox__control,.t862mev .t-img-select__text {
        font-size: 13px;
        word-break: break-word
    }

    .t862mev__btn-wrapper {
        padding-left: 20px;
        padding-right: 20px
    }

    .t862mev .t-popup_show .t-popup__container {
        max-width: 100%;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        padding-top: 50px;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 100vh;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        position: relative
    }

    .t862mev .t-popup {
        padding: 0
    }

    .t862mev .t-popup__close {
        width: 100%;
        height: 50px;
        background: #000;
        position: fixed;
        display: table;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0
    }

    .t862mev .t-popup__close-wrapper {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 100%;
        padding-right: 20px;
        font-size: 0
    }

    .t862mev .t-popup__close-icon {
        width: 16px
    }
}

@media screen and (max-width: 640px) and (orientation:portrait) {
    .t862mev .t-popup_show .t-popup__container {
        min-height:100vh;
        min-height: calc(var(--vh,1vh) * 100)
    }
}

@media screen and (max-width: 480px) {
    .t862mev .t-inputtime,.t862mev .t-datepicker__wrapper {
        max-width:100%
    }

    .t862mev__btn-wrapper .t862mev__btn_prev.t-btn_sm {
        padding-left: 20px
    }

    .t862mev__btn-wrapper .t862mev__btn_next.t-btn_sm {
        padding-right: 20px
    }

    .t862mev__btn-wrapper .t862mev__btn_prev td::before,.t862mev__btn-wrapper .t862mev__btn_next td::after {
        display: none
    }
}

